# Python
.venv/
__pycache__/
*.pyc

# Environment
.env
backend/.env

# macOS
.DS_Store

# Zip files
*.zip

# Temporary folders
temp_project/
backend/temp_project/
uploads/
backend/uploads/

# ChromaDB
chroma/